<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ЕmergencyАssistance"
        tools:targetApi="31">
        <activity
            android:name=".PetSearchActivity"
            android:exported="false" />
        <activity
            android:name=".PatientSearchActivity"
            android:exported="false" />
        <activity
            android:name=".SearchDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".SearchVetActivity"
            android:exported="false" />
        <activity
            android:name=".PetViewActivity"
            android:exported="false" />
        <activity
            android:name=".VetViewActivity"
            android:exported="false" />
        <activity
            android:name=".PatientVIewActivity"
            android:exported="false" />
        <activity
            android:name=".patientview"
            android:exported="false" />
        <activity
            android:name=".DoctorViewActivity"
            android:exported="false" />
        <activity
            android:name=".VetActivity"
            android:exported="false" />
        <activity
            android:name=".PatientActivity"
            android:exported="false" />
        <activity
            android:name=".PetActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>